body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div,dl,dt,dd,input{
    margin: 0;
    padding: 0;
}
body{font-size:12px;}
img{border:none;}
li{list-style:none;}
input,select,textarea{outline:none;}
a{text-decoration:none; color: black}
/* 清除浮动 */
.clearfix:after{content:"";display:block;clear:both;}
.clearfix{zoom:1;}
/*通用A标签百分百父元素之中缩放*/
.a-100{
    width: 100%;
    height: 100%;
    display: inline-block;
}
.img-100{
    width: 100%;
    height: 100%;
}
.WidHei-100{
    width: 100%;
    height: 100%;
}
/*头部*/
.header{
    width: 100%;
    height: 50px;
    /*background-color: red;*/
    /*border-bottom: 1px solid #919191;*/
}
/*头部容器*/
.header .header-Container{
    width: 1200px;
    height: 50px;
    /*background-color: greenyellow;*/
    margin: 0 auto;
    position: relative;
}
/*LOGO商标图*/
.header .header-logo{
    width: 150px;
    height: 50px;
    /*background-color: aqua;*/
    display: inline-block;
    position: absolute;
    left: 0;
    top: 8px;
}
.header .header-logo a img{
    width: 150px;
    /*margin-bottom: 8px;*/
}



/*导航栏*/
.header .header-nav{
    width: 400px;
    height: 50px;
    /*background-color: blueviolet;*/
    display: inline-block;
    position: absolute;
    left: 150px;
}
.header .header-nav ul li{
    float: left;
    width: 100px;
    height: 47px;
    font-size: 17px;
    text-align: center;
    line-height: 47px;
	/* border-bottom: 3px solid red; */
}
.header .header-nav ul li a{
    display: inline-block;
    width: 100%;
    height: 100%;
}
.header .header-nav ul .header-nav-000{
	border-bottom: 3px solid #52CB6B;
}



/*用户登录*/
.header .header-Login{
    width: 120px;
    height: 50px;
    float: right;
}
.header .header-Login div:nth-child(1){
    width: 60px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 14px;
    float: left;
}
.header .header-Login div:nth-child(2){
    width: 60px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 14px;
    float: right;
}
/*中部*/
.content{
    width: 100%;
    /*height: 1500px;*/
    background-color: #ececec;
    padding-bottom: 50px;
    border-bottom: 2px solid #fff;
}
/*中部容器*/
.content .content-Container{
    width: 1200px;
    /*height: 100%;*/
    /*background-color: cadetblue;*/
    margin: 0 auto;
    padding-top: 20px;
    /*overflow: hidden;*/
	/* display: none; */
}
/*中部第一段*/
.content .content-Container .content-top1{
    width: 1200px;
    height: 403px;
    /*background-color: #fff;*/
}


/*轮播图*/
.content .content-top1 .top1-Left{
    width: 820px;
    height: 403px;
    /*background-color: green;*/
    border-radius: 20px;
    display: inline-block;
    overflow: hidden;
    position: relative;
}
.content .content-top1 .top1-Left .top1-Left-carousel div{
	position: absolute;
	top: 0;
	left: 0;
}
.content .content-top1 .top1-Left .top1-Left-carousel .carousel-001{
	z-index: 10;
}


/*左右控制按钮*/
.content .content-top1 .top1-Left .top1-Left-but{
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.content .content-top1 .top1-Left .top1-Left-but span{
    display: inline-block;
    width: 50px;
    height: 100px;
    background: rgba(0,0,0,0.6);
    color: #fff;
    font-size: 40px;
    line-height: 100px;
    text-align: center;
    cursor: pointer;
	z-index: 100;
}
/*左*/
.content .content-top1 .top1-Left .top1-Left-but .top1-Left-but-prev{
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -50px;
	background: url(../images/carousel-Left.png) no-repeat center center;
}
/*右*/
.content .content-top1 .top1-Left .top1-Left-but .top1-Left-but-next{
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -50px;
	background: url(../images/carousel-Right.png) no-repeat center center;
}

/*控制小圆点*/
.content .content-top1 .top1-Left .top1-Left-num{
    position: absolute;
    bottom: 10px;
    width: 100%;
    font-size: 0;
    text-align: center;
	z-index: 100;
}
.content .content-top1 .top1-Left .top1-Left-num li{
    width: 10px;
    height: 10px;
    background: rgba(0,0,0,0.5);
    border-radius: 100%;
    display: inline-block;
    margin: 0 5px;
    /*设置小圆点鼠标移入指针样式*/
    cursor: pointer;
}
.content .content-top1 .top1-Left .top1-Left-num .cur{
	background-color: #FFFFFF;
}



/*轮播图右边两个内容快*/
.content .content-top1 .top1-Right{
    width: 360px;
    height: 403px;
    /*background-color: yellow;*/
    float: right;
}
.content .content-top1 .top1-Right .top1-Right-01{
    width: 360px;
    height: 190px;
    /*background-color: chocolate;*/
    border-radius: 20px;
}
.content .content-top1 .top1-Right .top1-Right-02{
    width: 360px;
    height: 190px;
    /*background-color: chocolate;*/
    border-radius: 20px;
    margin-top: 20px;
}




/*中部第二段——内容导航栏*/
.content .content-Container .content-top2{
    width: 1200px;
    height: 130px;
    background-color: white;
    margin-top: 20px;
    border-radius: 15px;
}



/*上部分导航栏*/
.content .content-top2 .top2-top{
    width: 1200px;
    height: 70px;
    /*background-color: chartreuse;*/
}
.content .content-top2 .top2-top ul{
    width: 528px;
    height: 40px;
    /*background-color: white;*/
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 15px;
    /*padding-left: 36px;*/
}
.content .content-top2 .top2-top ul li{
    width: 130px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
    float: left;
}
.content .content-top2 .top2-top ul .top2-top-000{
    border: 1px solid #52cb6b;
	/*CSS3新增属性，可控制边框圆角*/
    border-radius: 25px;
}





/*下部分导航栏*/
.content .content-top2 .top2-bottom{
    width: 1200px;
    height: 60px;
    position: relative;
    /*background-color: red;*/
}
.content .content-top2 .top2-bottom .top2-bottom-a{
    width: 770px;
    height: 60px;
    /*background-color: blue;*/
    margin-left: 60px;
    display: inline-block;
}
.content .content-top2 .top2-bottom .top2-bottom-a .top2-bottom-a-123>li{
    width: 110px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    font-size: 14px;
    /* background-color: red; */
    float: left;
	cursor: pointer;
}
.content .content-top2 .top2-bottom .top2-bottom-a .top2-bottom-a-123 li .top2-bottom-a-456{
	width: 130px;
	border-radius: 10px;
	overflow: hidden;
	display: none;
	box-shadow:rgba(0,0,0,0.7) 0 0 10px;
	background-color: #FFFFFF;
}

.content .content-top2 .top2-bottom .top2-bottom-a .top2-bottom-a-123 li .top2-bottom-a-456 li{
	/* width: 130px; */
	height: 40px;
	text-align: center;
	line-height: 40px;
	/* background-color: red; */
}
.content .content-top2 .top2-bottom .top2-bottom-a .top2-bottom-a-123 li:nth-child(2) ul{
	position: absolute;
	top: 50px;
	left: 160px;
}
.content .content-top2 .top2-bottom .top2-bottom-a .top2-bottom-a-123 li:nth-child(3) ul{
	position: absolute;
	top: 50px;
	left: 270px;
}
.content .content-top2 .top2-bottom .top2-bottom-a .top2-bottom-a-123 li:nth-child(4) ul{
	position: absolute;
	top: 50px;
	left: 380px;
}
.content .content-top2 .top2-bottom .top2-bottom-a .top2-bottom-a-123 li:nth-child(5) ul{
	position: absolute;
	top: 50px;
	left: 490px;
}
.content .content-top2 .top2-bottom .top2-bottom-a .top2-bottom-a-123 li:nth-child(6) ul{
	position: absolute;
	top: 50px;
	left: 600px;
}
.content .content-top2 .top2-bottom .top2-bottom-a .top2-bottom-a-123 li:nth-child(7) ul{
	position: absolute;
	top: 50px;
	left: 710px;
}





/* 搜索框 */
.content .content-top2 .top2-bottom .top2-bottom-b{
    width: 300px;
    height: 70px;
    /*background-color: red;*/
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
}
.content .content-top2 .top2-bottom .top2-bottom-b input{
    width: 250px;
    height: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 17px;
    text-indent: 20px;
    color: #7f7f7f;
    background-color: #ececec;
    border: none;
    border-radius: 20px;
}
.content .content-top2 .top2-bottom .top2-bottom-b img{
    width: 30px;
    height: 30px;
    position: absolute;
    right: 10px;
    bottom:20px;
}





/*中部第三段——主体内容*/
.content .content-Container .content-top3{
    width: 1200px;
    /*height: 900px;*/
    background-color: #ececec;
    margin-top: 20px;
}
.content .content-top3 .content-top3-Mother{
    margin-bottom: 20px;
}
.content .content-top3 .content-top3-Mother .top3-01{
    width: 386px;
    height: 346px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    float: left;
    /*box-shadow:rgba(0,0,0,0.7) 0 0 10px;*/
}
.content .content-top3 .content-top3-Mother .top3-01-a{
    width: 386px;
    height: 260px;
    /*background-color: coral;*/
}
.content .content-top3 .content-top3-Mother .top3-01-b{
    width: 386px;
    height: 78px;
    text-align: center;
    line-height: 78px;
    font-size: 18px;
    /*background-color: #919191;*/
}
.content .content-top3 .content-top3-Mother .top3-02{
    width: 386px;
    height: 346px;
    border-radius: 10px;
    overflow: hidden;
    display: inline-block;
    background-color: white;
    margin-left: 20px;
    /*box-shadow:rgba(0,0,0,0.7) 0 0 10px;*/
}
.content .content-top3 .content-top3-Mother .top3-03{
    width: 386px;
    height: 346px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    float: right;
    /*box-shadow:rgba(0,0,0,0.7) 0 0 10px;*/
}



/* 登陆板块 */
.content .Landing-Container{
	width: 600px;
	height: ;
	margin: 0 auto;
	/* margin-top: 20px; */
	padding-top: 100px;
	display: none;
}
.content .Landing-Container .Landing-top{
	width: 500px;
	height: 500px;
	background-color: #fff;
	position: relative;
}
.content .Landing-Container .Landing-top>p{
	width: 500px;
	height: 69px;
	font-size: 17px;
	text-align: center;
	line-height: 69px;
	border-bottom: 1px solid #C0C0C0;
	/* background-color: red; */
}
.content .Landing-Container .Landing-top form input:nth-child(1){
	width: 260px;
	height: 40px;
	position: absolute;
	top: 100px;
	left: 120px;
	border: 1px solid #C0C0C0;
	border-radius: 10px;
	text-indent: 25px;
	color: #808080;
}
.content .Landing-Container .Landing-top form input:nth-child(2){
	width: 260px;
	height: 40px;
	position: absolute;
	top: 170px;
	left: 120px;
	border: 1px solid #C0C0C0;
	border-radius: 10px;
	text-indent: 25px;
	color: #C0C0C0;
}
.content .Landing-Container .Landing-top form span a{
	color: #52CB6B;
	position: absolute;
	top: 230px;
	left: 330px;
}
.content .Landing-Container .Landing-top form button{
	width: 240px;
	height: 40px;
	font-size: 14px;
	text-align: center;
	line-height: 40px;
	color: #FFFFFF;
	background-color: #52CB6B;
	border: none;
	border-radius: 25px;
	position: absolute;
	left: 130px;
	top: 280px;
}
.content .Landing-Container .Landing-top form p{
	width: 500px;
	height: 50px;
	font-size: 14px;
	text-align: center;
	line-height: 50px;
	position: absolute;
	top: 320px;
}
.content .Landing-Container .Landing-top form p a{
	color: #52CB6B;
}
.content .Landing-Container .Landing-top form>a{
	width: 40px;
	height: 40px;
	display: inline-block;
}
.content .Landing-Container .Landing-top form .QQ-Landing{
	position: absolute;
	bottom: 50px;
	left: 170px;
}
.content .Landing-Container .Landing-top form .WeChat-Lamding{
	position: absolute;
	bottom: 50px;
	right: 170px;
}


/*底部*/
.footer{
    width: 100%;
    height: 100px;
    /*background-color: chocolate;*/
}
/*底部容器*/
.footer .footer-Container{
    width: 1200px;
    height: 100px;
    /*background-color: darkred;*/
    margin: 0 auto;
}
.footer .footer-Container .footer-Left{
    width: 480px;
    height: 100px;
    /*background-color: yellow;*/
    display: inline-block;
}
.footer .footer-Container .footer-Left ul li{
    width: 120px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 15px;
    float: left;
}
.footer .footer-Container .footer-Right{
    width: 500px;
    height: 100px;
    /*background-color: blue;*/
    /*display: inline-block;*/
    float: right;
}
.footer .footer-Container .footer-Right .footer-Right-top{
    width: 500px;
    height: 50px;
    /*background-color: coral;*/
    position: relative;
}
.footer .footer-Container .footer-Right .footer-Right-top .footer-Img-01{
    height: 30px;
    margin-top: 35px;
}
.footer .footer-Container .footer-Right .footer-Right-top p{
    display: inline-block;
    position: absolute;
    top: 17px;
    left: 170px;
}
.footer .footer-Container .footer-Right .footer-Right-top .footer-Img-02{
    width: 40px;
    height: 40px;
    position: absolute;
    left: 430px;
    top: 30px;
}
.footer .footer-Container .footer-Right .footer-Right-top .A-01{
    width: 40px;
    height: 40px;
}
.footer .footer-Container .footer-Right .footer-Right-bottom{
    width: 500px;
    height:50px;
    text-align: center;
    font-size: 12px;
    /*background-color: greenyellow;*/
}